@{
    ViewData["Title"] = "Home";
}

<label>Welcome to my test webpage!</label>
<br />
<br />

<img src="~/images/maksym-tymchyk-RwvwxBjPnsI-unsplash.jpg" asp-append-version="true" style="height: 84vh;" alt="Doggo">