<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("Scripts", false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <ul id="nav-bar">
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/home_button.png" asp-append-version="true" alt="Home"></a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="NamePage">Name Page</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Surf">Surf</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a></li>
        </ul>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("AsyncScripts", required: false)
</body>
</html>
